
/* .custom-pricing-css-hover:hover{
    transform: scale3d(1.15, 1.25, 1.8);
    transition: .7s;
} */
.custom-scale{
    transform: scale3d(1.15, 1.25, 1.8);
    transition: .7s;
}
.perspective{
    perspective: 1000px;
}